html, body, .container{
    height: 100%;
}

.header, .header-left{
    display: flex;
    justify-content: space-between;
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    padding: 10px 20px;

    background: #efe;
}

.header .element{
    margin: 0px 15px;
}

.container{
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.element{
    margin: 15px;
}
